.btn {
    font-weight: bold;
    border-radius: 10px;
    padding: 3px 15px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.bGd {
    color: black;
    background-color: #0B5436;
    border: 2px solid #0B5436;
}

.bW {
    color: black;
    background-color: white;
    border: 2px solid #136284;
}

.bR {
    color: white;
    background-color: #BD2024;
    border: 2px solid #BD2024;
}

.bG {
    color: black;
    background-color: #CCD645;
    border: 2px solid #9BC53D;
}

.boGd {
    border: 2px solid #0B5436;
}

.boB {
    border: 2px solid #136284;
}

.boR {
    border: 2px solid #BD2024;
}

.boG {
    border: 2px solid #9BC53D;
}

.color1 {
    background-color: #FDE74C;
    border: 2px solid #FDE74C;
    color: black;
}

.color2 {
    background-color: #CCD645;
    border: 2px solid #CCD645;
    color: black;
}

.color3 {
    background-color: #0B5436;
    border: 2px solid #0B5436;
    color: white;
}

.color4 {
    background-color: #BD2024;
    border: 2px solid #BD2024;
    color: white;
}