.bt {
    font-weight: bold;
    border-radius: 10px;
    padding: 3px 15px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.btGd {
    color: white;
    background-color: #063b25;
    border: 2px solid #06633c;
}

.btW {
    color: black;
    background-color: white;
    border: 2px solid #063b25;
}

.btR {
    color: white;
    background-color: #BD2024;
    border: 2px solid #BD2024;
}

.btG {
    color: black;
    background-color: #CCD645;
    border: 2px solid #9BC53D;
}

.boGd {
    border: 2px solid #215842;
}

.boB {
    border: 2px solid #0d7a4f;
}

.boR {
    border: 2px solid #BD2024;
}

.boG {
    border: 2px solid #9BC53D;
}

.boY {
    border: 2px solid #FDE74C;
}

.boTop {
    border-top: 2px solid #06633c !important;
}

.boBot {
    border-bottom: 2px solid #06633c !important;
}

.color1 {
    background-color: #FDE74C;
    border: 2px solid #FDE74C;
    color: black;
}

.color2 {
    background-color: #CCD645;
    border: 2px solid #CCD645;
    color: black;
}

.color3 {
    background-color: #063b25;
    border: 2px solid #063b25;
    color: white;
}

.color4 {
    background-color: #BD2024;
    border: 2px solid #BD2024;
    color: white;
}